<div class="top-nav">
  <div class="container">
      <div class="nav-buttons">
          <a href="{% url 'admin_dashboard' %}" class="nav-button">Dashboard</a>
          <a href="{% url 'custom_logout' %}" class="nav-button logout">Logout</a>
      </div>
  </div>
</div>
{% load static %}
  <link rel="stylesheet" href="{% static 'hostel/css/style.css' %}">
<div class="container">
  <h1>Add Warden</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
</div>

